<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="AppleMusicWebPlayer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="AppleMusic.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <connectionStrings />
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<probing privatePath="DLLs"/>
		</assemblyBinding>
	</runtime>
 <userSettings>
  <AppleMusicWebPlayer.Properties.Settings>
   <setting name="ExitOption" serializeAs="String">
    <value>Ask</value>
   </setting>
   <setting name="TapShow" serializeAs="String">
    <value>AlwaysShow</value>
   </setting>
  </AppleMusicWebPlayer.Properties.Settings>
  <AppleMusic.Properties.Settings>
   <setting name="isBackgraundPlay" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="isNeverTapShow" serializeAs="String">
    <value>False</value>
   </setting>
  </AppleMusic.Properties.Settings>
 </userSettings>
</configuration>
